@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --StrongCyan-color: hsl(172, 67%, 85%);
  --ButtonCyan-color: hsl(172, 67%, 35%);
  --VeryDarkCyan-color: hsl(183, 100%, 15%);
  --DarkGrayishCyan-color: hsl(186, 14%, 43%);
  --GrayishCyan-color: hsl(184, 14%, 56%);
  --LightGrayishCyan: hsl(185, 41%, 84%);
  --VeryLightGrayishCyan: hsl(189, 41%, 97%);
  --CustomButton: hsl(189, 41%, 87%);
  --White-color: hsl(0, 0%, 100%);
  --ResultColor-color: hsl(172, 67%, 55%);
}

/* ### Body Copy
- Font size (form inputs): 24px */

/* DESKTOP VIEW */
/* @media only screen and (min-width: 768px) {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
h4 {
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 800;
  color: var(--VeryDarkCyan-color);
}
.appNameUpper {
  margin-top: 2rem;
}
.appNameLower {
  margin-bottom: 2rem;
}
body {
  background: var(--StrongCyan-color);
  height: 100vh;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-slider-thumb {
  background: var(--VeryDarkCyan-color);
}
label {
  font-weight: 800;
  font-size: 14px;
  color: var(--DarkGrayishCyan-color);
}
.btn {
  background-color: var(--VeryDarkCyan-color);
  font-weight: 800;
  width: 100%;
  border: none;
  margin-bottom: 1rem;
  color: var(--VeryLightGrayishCyan);
  height: 3rem;
  font-size: 18px;
  letter-spacing: 2px;
}
.btn-custom {
  background-color: var(--CustomButton);
  color: var(--DarkGrayishCyan-color);
}
.btn:hover {
  background-color: var(--ButtonCyan-color);
  color: var(--VeryDarkCyan-color);
}
.btn:focus {
  background-color: var(--ButtonCyan-color);
  color: var(--VeryDarkCyan-color);
}
.customTip {
  width: 100%;
  border: none;
  text-align: center;
  font-weight: 800;
  color: var(--DarkGrayishCyan-color);
  background: var(--VeryLightGrayishCyan);
  height: 3rem;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
}
.customTip:focus {
  outline: var(--DarkGrayishCyan-color);
  border: 4px solid var(--StrongCyan-color);
}
.customTip[type="number"]::-webkit-inner-spin-button,
.customTip[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

#left-col-rows {
  margin-bottom: 2rem;
}
.form-label {
  font-size: 19px;
}
.input-group {
  border: none;
  background-color: var(--VeryLightGrayishCyan);
  border-radius: 10px;
}
.input-group:hover {
  border: 1px solid var(--StrongCyan-color);
}
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.form-control {
  background-color: var(--VeryLightGrayishCyan);
  color: var(--VeryDarkCyan-color);
  font-weight: 800;
  font-size: 24px;
  margin-right: 2rem;
  cursor: pointer;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: var(--VeryLightGrayishCyan);
  color: var(--VeryDarkCyan-color);
}

#right-col-display-result,
p {
  font-size: 32px;
  color: var(--ResultColor-color);
}
#upperLabel {
  color: var(--VeryLightGrayishCyan);
  margin-bottom: -10px;
}
.btn-reset {
  background-color: var(--ButtonCyan-color);
  color: var(--VeryDarkCyan-color);
  font-weight: 800;
  width: 100%;
  border: none;
  margin-bottom: 1rem;
  height: 3.5rem;
}
.btn-reset:hover {
  background-color: var(--LightGrayishCyan);
  color: var(--VeryDarkCyan-color);
}
.btn-reset:active {
  background-color: var(--ButtonCyan-color);
  color: var(--VeryDarkCyan-color);
}
